 * {
    margin: 0px;
    padding: 0px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #000;
}

video {
    margin: 0px;
    padding: 0px;
    position: absolute;
    top: 30%;
    right: 27%;
}

.play-button {
    background-color: #f06204;
    color: #fff;
    width: 20%;
    height: 7%;
    position: absolute;
    top: 80%;
    right: 40%;
    font-size: 10px;
    font-weight: bolder;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: #fff;
    background-color: #f06204;
}
